{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="mb-4">Bem-vindo ao <strong>OdontoFlow 1.0</strong></h1>
    <p class="lead mb-5">
        Sistema de Gestão de Salas Odontologicas com Foco em Organização e Eficiência.
    </p>
    <div class="d-flex justify-content-center gap-3 flex-wrap mb-5">
        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Acessar o Sistema</a>
        <a href="{% url 'visualizar_agendamentos' %}" class="btn btn-outline-success btn-lg">Ver Agendamentos do Dia</a>
    </div>
</div>
{% endblock %}
