{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100% - 2rem);">
  <div class="row justify-content-center w-100">
    <div class="col-lg-10">
      <div class="row rounded border overflow-hidden bg-white">
        <!-- Lado da imagem -->
        <div class="col-md-6 bg-light d-flex align-items-center justify-content-center">
          <img src="{% static 'image/logo_medflow.jpeg' %}" alt="Logo do Sistema" class="img-fluid p-4" style="max-height: 300px;">
        </div>

        <!-- Lado do formulário -->
        <div class="col-md-6 p-4">
          <h2 class="text-center mb-4">Acesso ao Sistema</h2>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label">Usuário (E-mail)</label>
              <input type="text" name="email" id="email" class="form-control" required autocomplete="username">
            </div>

            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" name="senha" id="senha" class="form-control" required autocomplete="current-password">
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
